torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2
jsonlines==3.0.0
jsonnet==0.18.0
packaging==23.2
overrides==6.1.0
fire==0.4.0
sentencepiece==0.1.96
nltk==3.6.7
base58==2.1.1
datasets==2.14.5
transformers==4.34
wandb==0.15.12
dill==0.3.4
scipy==1.8.0
matplotlib==3.7.0
accelerate==0.23.0
tiktoken==0.5.1
rouge_score>=0.1.2
tabulate==0.9.0
sacremoses==0.1.1
wheel==0.42.0
setuptools==41.2.0
py-cpuinfo==9.0.0
lm-dataformat==0.0.20
rouge-score==0.1.2
scikit-learn==1.5.0
nlp==0.4.0
